html(lang="zh")
    include includes/head.pug
    style.
        input.addr {
            width: 25rem;
            margin-right: 1rem
        }
        input.amount {
            margin-right: 1rem;
        }
    body
        include includes/menu.pug
        p=msg
